*{
    margin : 0px;
    padding : 0px;
}
.main-section{
    margin-top: 0px;
    width:100%;
    padding:20px;
    height: 70px;
    background-color: black;
}
.menu-list{
    color: white;
}
ul{
    margin-top: 20px;
    list-style-type: none;
}
li{
    float: left;
    padding:5px 30px 5px 30px;
    border-right: blue 1px solid;
    box-shadow : 0px 0px 10px 0px #4e5ddd;
}
li:hover{
    box-shadow : 0px 2px 20px 10px #4e5ddd;
}
img {
    float: right;
    margin-right: 20px;
    filter: drop-shadow(0px 0px 5px  rgb(255, 238, 2));
    width:100px;
    height:100px;
}